<!DOCTYPE html>
<html lang="en">
<head>
    <title> {{ page_title }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <table>
            <tr>
                <th>Code</th>
                <th>Item</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td>1</td>
                <td>One Thing</td>
                <td>Things</td>
                <td>1</td>
                <td>Buttons</td>
            </tr>
            <tr>
                <td>1</td>
                <td>One Thing</td>
                <td>Things</td>
                <td>1</td>
                <td>Buttons</td>
            </tr>
            <tr>
                <td>1</td>
                <td>One Thing</td>
                <td>Things</td>
                <td>1</td>
                <td>Buttons</td>
            </tr>
            <tr>
                <td>1</td>
                <td>One Thing</td>
                <td>Things</td>
                <td>1</td>
                <td>Buttons</td>
            </tr>
        </table>
        <div class="button-container">
            <button class="edit-button">Edit Item</button>
            <button class="remove-button">Delete Item</button>
            <button class="add-button">Add Item</button>
        </div>
    </div>
</body>
</html>